<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- 載入babel編譯器套件 -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/production.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signfooter.css}">

    <title>商品購買頁面</title>
    <script type="text/babel">
        class Search_del extends React.Component{ //此class為刪除搜尋欄中輸入文字的按鈕功能
            constructor(props){
                super(props);
                this.state={
                    text:""
                }
            } 
            render(){
                let display='none';
                if(this.state.text!==""){
                    display='block'; //將x按鈕在搜尋欄有輸入時顯示出來
                }
                return <form action="/search" method="post" className="searchbox">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" name="search_name" placeholder="搜尋" value={this.state.text} onChange={this.getData.bind(this)} className="search"/> 
                    <div class="search_clear">
                        <button type="button" aria-hidden="true" className="clear_button" onClick={this.delData.bind(this)} style={
                            {display:display}
                        }>X</button>
                    </div>
                    </form>; //利用onChange來取得input欄的輸入資料
            }
            handleSubmit(e){
                e.preventDefault();
                console.log("送出")
                console.log("name:"+this.state.text)
            }
            getData(e){
                this.setState({text:e.currentTarget.value}); //e為事件物件，為輸入input的資料群
            }
            delData(){
                this.setState({text:""})
            }
        }
        window.addEventListener("load", ()=>{
            ReactDOM.render(<Search_del/>, document.getElementsByClassName("react1")[0]); //render在class="reacrt1上面"
         });
    </script>
</head>
<body>
    <div class="top">
        <a href="/" class="logo"><img th:src="@{/pic/logo.png}"></a>
        <div class="logout" th:if="${session.user != null}">
            <a href="/signout"><p>登出</p><ion-icon name="log-out-outline"></ion-icon></a>
        </div>
        <div class="member">
            <a href="/member"><ion-icon name="person-outline"></ion-icon></a>
        </div>
        <div class="shopping-car">
            <a href="/car"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
        <div class="react1"></div>
    </div>
    <div class="top_block"></div>
    <ul class="menu">
        <li class="list-1"><a ><img th:src="@{/icon/basketball.png}" class="basketball_icon"/>籃球</div></a>
            <ul class="list-2">
                <li><a href="/ball7">男生籃球(7號球)</a></li>
                <li><a href="/ball6">女生籃球(6號球)</a></li>
            </ul>
        </li>
        <li class="list-1"><a><img th:src="@{/icon/soccer.png}" class="soccer_icon"/>足球</a>
            <ul class="list-2">
                <li><a href="/sc5">5號足球</a></li>
                <li><a href="/sc4">4號足球</a></li>
                <li><a href="/sc3">3號足球</a></li>
            </ul>
        </li>
        <li class="list-1"><a><img th:src="@{/icon/volleyball.png}" class="volleyball_icon"/>排球</a>
            <ul class="list-2">
                <li><a href="/vb1">FIVB指定球</a></li>
                <li><a href="/vb2">橡膠排球</a></li>
            </ul>
        </li>
    </ul>
    <div class="product_box">
        <div class="product">
            <div class="production"><img th:src="${pList.pImg}" class="product_img"></div>
            <div class="product_item">
                <h2 th:text="${pList.pName}">超細纖維PU16片專利貼皮籃球(6號球)</h2>
                <p th:text="${pList.pDescription}"></p>
                <h2>網購價:<span>$<span  th:text="${pList.pPrice}"></span></span></h2>
                <form action="/car_form", method="post">
                    <div class="form_select" >
                            <span>數量:</span>
                        <select name="p_amount">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select><br/>
                    </div>
                    <input type="hidden" th:value="${pList.pId}" name="id">
                    <div class="production_buttons">

                        <input type="submit" value="立即購買" name="quick_buy" class="quick_button">
                        <input type="submit" value="放入購物車" name="send_car" class="car_button">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_text"><p>Copyright © 2023 Xun-Kai</p></div>
        <div class="icon">
            <a href="https://www.facebook.com/profile.php?id=100002405719073"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://www.instagram.com/gugi_gugi333/"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </footer>
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>