*{
    position: relative;
    box-sizing: border-box;
    /* border: solid 1px; */
}
body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #EADDA6;
}
.footer_text{
    width: 300px;
    height: 100px;
    float: left;
    margin: 0;
}
.footer_text p{
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    font-family: sans-serif;
    margin-left: 10px;
}
.icon{
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50px;
}
.icon ion-icon{
    height:20px;
    width: 20px;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 17px;
    cursor: pointer;
    color: black;
}