<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- 載入babel編譯器套件 -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css' )}}">
    <link rel="stylesheet" type="text/css" href="../static/css/list.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/list.css' )}}">
    <link rel="stylesheet" type="text/css" href="../static/css/signfooter.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signfooter.css' )}}">
    <link rel="stylesheet" type="text/css" href="../static/css/car.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/car.css' )}}">
    <title>Ballring購物車2</title>
    <script type="text/babel">
        class Search_del extends React.Component{ //此class為刪除搜尋欄中輸入文字的按鈕功能
            constructor(props){
                super(props);
                this.state={
                    text:""
                }
            } 
            render(){
                let display='none';
                if(this.state.text!==""){
                    display='block'; //將x按鈕在搜尋欄有輸入時顯示出來
                }
                return <form action="/search" method="post" className="searchbox">
                    <ion-icon name="search-outline"></ion-icon>
                    <input type="text" name="search_name" placeholder="搜尋" value={this.state.text} onChange={this.getData.bind(this)} className="search"/> 
                    <div class="search_clear">
                        <button type="button" aria-hidden="true" className="clear_button" onClick={this.delData.bind(this)} style={
                            {display:display}
                        }>X</button>
                    </div>
                    </form>; //利用onChange來取得input欄的輸入資料
            }
            handleSubmit(e){
                e.preventDefault();
                console.log("送出")
                console.log("name:"+this.state.text)
            }
            getData(e){
                this.setState({text:e.currentTarget.value}); //e為事件物件，為輸入input的資料群
            }
            delData(){
                this.setState({text:""})
            }
        }
        window.addEventListener("load", ()=>{
            ReactDOM.render(<Search_del/>, document.getElementsByClassName("react1")[0]); //render在class="reacrt1上面"
         });
    </script>
</head>
<body>
    <div class="top">
        <a href="/" class="logo"><img src="../static/pic/logo.png"></a>
        {%if data%}
        <div class="logout">
            <a href="/signout"><p>登出</p><ion-icon name="log-out-outline"></ion-icon></a>
        </div>
        </form>
        {%else%}
        <div class="member" style="display: none;">
            <ion-icon name="person-outline"></ion-icon>
        </div>
        {%endif%}
        <div class="member">
            <a href="/member"><ion-icon name="person-outline"></ion-icon></a>
        </div>
        <div class="shopping-car">
            <a href="/car"><ion-icon name="cart-outline"></ion-icon></a>
        </div>
        <div class="react1"></div>
    </div>
    <div class="car-box">
        <div class="car">
            <div class="car_form">
                <h2>購物車</h2>
                <hr/>
                {% if items%}
                <table class="car_table">
                    <tr class="car_item">
                        <th width="50px">序號</th>
                        <th width="100px">商品圖片</th>
                        <th>商品名稱</th>
                        <th width="80px">單價</th>
                        <th width="80px">數量</th>
                        <th width="80px">小計</th>
                        <th width="80px">功能</th>
                    </tr>
                    {%for i in items%}
                    <tr class="car_item"> 
                        <td>{{i.p_id}}</td>
                        <td><img src={{i.img}} class="p_img"></td>
                        <td>{{i.name}}</td>
                        <td>{{i.price}}</td>
                        <td>{{i.amount}}</td>
                        <td>{{i.total}}</td>
                        <td><form action="/del_car", method="post"><input type="submit" name="del_item" value="刪除"><input type="hidden" value={{i.c_id}} name="id"></form></td>
                    </tr>
                    {%endfor%}
                    </table>
                {%else%}
                <table class="car_none">
                    <thead >
                        <tr>
                            <td>尚未選擇商品 購物車為空!</td>
                        </tr>
                    </thead>
                </table>
                {%endif%}
                <hr/>
                <div class="total">總計:{{total_price}}元</div>
                <form action="send_car", method="post">
                    <input type="submit" value="送出訂單" name="send_car" class="send_button">
                </form>
            </div>
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="footer_text"><p>Copyright © 2023 Xun-Kai</p></div>
        <div class="icon">
            <a href="https://www.facebook.com/profile.php?id=100002405719073"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="https://www.instagram.com/gugi_gugi333/"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </footer>
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>